<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SysConnectionString" connectionString="Data Source=localhost;Persist Security Info=yes; UserId=root; PWD=User001;SSL Mode=None;" />
  </connectionStrings>
  <appSettings>
    <add key="IpString" value="10.0.0.20" />
    <add key="PortString" value="5000" />
    <add key="Equid" value="SFL" />
  </appSettings>
</configuration>